[Desktop Entry]
Type=Application
Name=Open in Zig CLI
Exec=/path/to/zigman %f
Icon=utilities-terminal
Terminal=true
MimeType=inode/directory;
Categories=Utility;TerminalEmulator;
